
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body#night > dialog,
body#night > #weatherCardDisplay > .weatherCard {
    color: white;
    background: linear-gradient(to left top, rgb(40, 0, 134), rgb(0, 0, 204));
    border-color: black;
}

body#morning > dialog,
body#morning > #weatherCardDisplay > .weatherCard {
    color: black;
    background: linear-gradient(to left top, rgb(0, 119, 255), rgb(62, 168, 255));
    border-color: black;
}

body#afternoon > dialog,
body#afternoon > #weatherCardDisplay > .weatherCard {
    color: black;
    background: linear-gradient(to left top, rgb(218, 87, 0), rgb(255, 166, 0));
    border-color: black;
}



.error {
    color: red;
}

#weatherCardDisplay {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}


/* --------- Weather Card ---------- */
.weatherCard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    width: 150px;
    height: 250px;
}

.weatherCard > .icon {
    width: 100px;
    height: 100px;
    align-self: center;
}

.weatherCard > .day {
    font-size: 1.5rem;
    align-self: center;
    font-weight: bolder;
}

.weatherCard > .datetime {
    align-self: center;
}

.weatherCard > .temp {
    padding: 10px 0px;
    align-self: center;
}

.weatherCard > .conditions {
    font-size: 1rem;
    align-self: center;
    text-align: center;
    font-weight: bolder;
}

/* --------- Weather Active ---------- */

dialog {
    width: 80%;
    height: 40%;
    min-height: 300px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 35px;
}

dialog > .close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url("./icons/window-close.svg");
    height: 35px;
    width: 35px;
}

#weatherStats {
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    gap: 20px;
}

#weatherStats > .header {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header > .icon {
    height: 125px;
    width: 125px;
}

.header > .date {
    display: flex;
    flex-direction: column;
    width: 275px;
}

.header > .description {
    font-size: 1.5rem;
    width: 400px;
}

#weatherStats > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.content > .stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.stat > img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;

}

.content > .temp {
    padding: 10px 0px;
    align-self: center;
}